<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @discount.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @discount.name %>
</p>

<p>
  <strong>Json:</strong>
  <%= @discount.json %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
