<p id="notice"><%= notice %></p>

<h1>Discounts with info</h1>

<% console %>

<%= search_form_for @q, url: root_path do |f| %>
  <%= f.label 'store id' %>
  <%= f.collection_select :store_id_eq, Store.all, :id, :address, include_blank: true %>

  <%= f.label 'discount code' %>
  <%= f.search_field :code_eq %>

  <%= f.label 'Product Name' %>
  <%= f.collection_select :product_types_id_eq, ProductType.all, :id, :name, include_blank: true %>

  <%= f.label 'Minimum Required' %>
  <%= f.search_field :discount_product_type_groups_required_quantity_lteq %>
  <%= f.submit %>
<% end %>

<%= tag.p @q.inspect %>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Price</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.code %></td>
        <td><%= discount.price %></td>
        <td><%= discount.name %></td>
        <td><%= tag.image src: discount.image_url, refererpolicy: :'no-referrer' if discount.image_url %></td>
        <table>
          <thead>
            <th>Type</th>
            <th>Min required</th>
            <th>Max required</th>
          </thead>
          <tbody>
            <% discount.discount_product_type_groups.each do |group| %>
              <tr>
                <td><%= group.group_type %></td>
                <td><%= group.required_quantity %></td>
                <td><%= group.max_quantity %></td>
                <td><%= group.product_types.map(&:code).join(', ') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </tr>
    <% end %>
  </tbody>
</table>
