<p id="notice"><%= notice %></p>

<h1>Discounts with info</h1>

<%= search_form_for @q, url: root_path do |f| %>
  <%= f.label 'store id' %>
  <%= f.collection_select :store_id_eq, Store.all, :id, :address, include_blank: true %>

  <%= f.label 'discount code' %>
  <%= f.search_field :code_eq %>

  <%= f.label 'Product Name' %>
  <%= f.collection_select :product_types_id_eq, ProductType.all, :id, :name, include_blank: true %>

  <%= f.label 'Minimum Required' %>
  <%= f.search_field :discount_product_type_groups_required_quantity_lteq %>
  <%= f.submit %>
<% end %>

<%= tag.p @q.inspect %>

<%= tag.table do %>
  <%= tag.thead do %>
    <%= tag.tr do %>
      <%= tag.th '' %>
      <%= tag.th 'Price' %>
      <%= tag.th 'Code' %>
      <%= tag.th 'Name' %>
    <% end %>
  <% end %>

  <%= tag.tbody do %>
    <% @discounts.each do |discount| %>
      <%= tag.tr do %>
        <%= tag.td tag.image src: discount.image_url, refererpolicy: :'no-referrer' %>
        <%= tag.td tag.h3 discount.name %>
        <%= tag.td "$#{discount.price}" %>
        <%= tag.td discount.code %>

        <%= tag.table do %>
          <%= tag.thead do %>
            <%= tag.th 'Type' %>
            <%= tag.th 'Min required' %>
            <%= tag.th 'Max required' %>
          <% end %>

          <%= tag.tbody do %>
            <% discount.discount_product_type_groups.each do |group| %>
              <%= tag.tr do %>
                <%= tag.td group.group_type %>
                <%= tag.td group.required_quantity %>
                <%= tag.td group.max_quantity %>
                <%= tag.td group.product_types.map(&:code).join(', ') %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
